.home {
    min-height: 600px;
    max-width: 550px;
}

.home__title {
    font-size: 30px;
    padding-bottom: 20px;
    color: #212125;
    font-weight: 700;
    letter-spacing: 0.64px;
    user-select: none;
    font-family: "Gustavo_Bold";
}

.home__description {
    padding-bottom: 20px;
    color: #6F736D;
    font-size: 14px;
}

.home__description p {
    font-family: "Manrope", sans-serif;
    margin-bottom: 20px;
}

.home__about-site {
    user-select: none;
}

.home__about-site h2 {
    font-size: 18px;
    color: #7B7C7D;
    margin-bottom: 4px;
}

.home__about-site p {
    color: #6F736D;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
}

@media (max-width: 800px) {
    .home {
        min-height: auto;
        margin-top: -550px;
    }
}