.home {
    max-width: 550px;
}

.home__title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    padding-bottom: 20px;
    color: #212125;
    font-weight: 700;
    letter-spacing: 0.64px;
    user-select: none;
    font-family: "Gustavo_Bold";
}

.home__description {
    padding-bottom: 20px;
    color: #6F736D;
    font-size: 14px;
}

.home__description p {
    font-family: "Manrope", sans-serif;
    margin-bottom: 16px;
    font-size: .875rem;
    line-height: 1.25rem;
}

.home__about-site {
    user-select: none;
}

.home__about-site h2 {
    font-size: 18px;
    color: #7B7C7D;
    margin-bottom: 4px;
    letter-spacing: 0.04em;
}

.home__about-site p {
    color: #6F736D;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
}

.home__about-site p a {
    color: inherit;
    text-decoration: underline;
}

.para-likes {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.para-likes button {
    font-size: 14px;
    border: none;
    outline: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.para-likes .message {
    margin-top: -2.3px;
    padding-left: 2.5px;
    font-size: 14px;
    font-weight: 600;
}

@media (max-width: 800px) {
    .home {
        margin-top: -140px;
    }

    .para-likes {
        display: flex;
        align-items: flex-start;
    }
}